// Couleurs principales

$color-primary: #FF79DA; //Pour le dégradé des boutons et coeurs
$color-secondary: #9356DC; //Pour le dégradé des boutons et coeurs
$color-tertiary: #99E2D0; // Couleur du cadre "Nouveau" sur cards restaurants + La sous ligne des titres menus + Bouton flèche

// Autres couleurs 

$color-footer: #353535;
$color-header: #e5e5e5;
$color-body: #f2f2f2;
