main {
  & img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .menu {
    background-color: #f2f2f2;
    padding-top: 30px;
    border-radius: 20px 20px 0 0;
    margin-top: -16px;
    position: relative;

    & h1 {
      text-align: center;
      font-family: "Shrikhand", cursive;
      font-weight: 100;
      font-size: 25px;
      margin-bottom: 50px;
    }
  }
  & .titreMenus {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    border-bottom: 3px solid #85dde9;
    width: 40px;
    margin: 20px auto;
  }
  .menuList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .delay1 {
    animation: menufade 2s;
    animation-delay: 0.2s;
  }
  .delay2 {
    animation: menufade 2s;
    animation-delay: 0.4s;
  }
  .delay3 {
    animation: menufade 2s;
    animation-delay: 0.6s;
  }
  .menuDetail {
    display: flex;
    align-items: center;
    background-color: rgb(252, 252, 252);
    margin: 20px 15px;
    padding-left: 15px;
    border-radius: 18px;
    box-shadow: 0 0 16px #0000002e;
    height: 100px;
    width: 400px;
    overflow: hidden;
  }

  .menuText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    h3 {
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .price {
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    margin-left: auto;
    margin-right: 20px;
  }

  .check-box {
    @include flexbox;
    background-color: $color-tertiary;
    height: 100%;
    border-radius: 0 18px 18px 0;
    margin-right: -77px;
    width: 20%;
  }

  & .fa-check {
    @include flexbox;
    background-color: white;
    color: $color-tertiary;
    border-radius: 18px;
    width: 30px;
    height: 30px;
  }

  & .menuDetail:hover .check-box {
    transition: all 1s;
    margin-right: 0;
    & .fa-check {
      animation: iconeSpin 1s;
    }
  }
}

// VERSION TABLETTE 
@media screen and (min-width: 320px) and (max-width: 765px) {
  main {
    .titreMenus {
      margin: auto 15px 35px 20px;
    }
  }
    
}

// VERSION MOBILE

@media screen and (min-width: 0) and (max-width: 320px) {
  main {
    & img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .menu {
      background-color: #f2f2f2;
      padding-top: 30px;
      border-radius: 20px 20px 0 0;
      margin-top: -16px;
      position: relative;

      & h1 {
        text-align: start;
        font-family: "Shrikhand", cursive;
        font-weight: 100;
        font-size: 22px;
        margin: 20px 20px 50px;
      }
    }
    & .titreMenus {
      font-weight: 300;
      font-size: 15px;
      border-bottom: 3px solid #85dde9;
      width: 40px;
      margin: 25px auto 7px 15px;
    }

    .menuList {
      @include flexbox;
    }

    .menuDetail {
      width: 305px;
      margin: 8px;
      height: 75px;
    }

    h3 {
      font-size: 14px;
    }

    p {
      font-size: 13px;
    }

    .price {
      font-size: 14px;
      margin-right: 35px;
      margin-bottom: -35px;
    }
  }
}
